.game {
    width: 50vw;
    height: 60vh;
    max-width: 1000px;
    position: relative;
    left: 50%;
    top: 26vh;
    transform: translate(-50%, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    user-select: none;
    margin: 0;
}

.game__title {
    position: absolute;
    left: 50%;
    top: 12%;
    transform: translate(-50%, 0);
    width: 300%;
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 1.5px;
}

.game__pick {
    width: 20%;
    height: 80%;
    position: relative;
    color: white;
}

.game__token {
    z-index: 100;
    left: 28%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: relative;
}

/* Game info panel styles */

.game__info {
    margin-top: 15%;
}

.game__info--header {
    color: white;
    font-size: 50px;
}

.game__info--button {
    width: 180px;
    height: 40px;
    border: none;
    border-radius: 10px;
    color: #1A2748;
    cursor: pointer;
    font-size: 14px;
    letter-spacing: 2px;
    margin-top: 15px;
    box-shadow: 0 2px 4px rgb(26, 25, 25);
    transition: 0.2s;
}

.game__info--button:hover {
    color: #DC3957;
}

/* House token appear animation */

.game__token--house {
    animation: 1s houseChoiceAppear;
    animation-fill-mode: forwards;
    visibility: hidden;
}

@keyframes houseChoiceAppear {
    99% {
        visibility: hidden;
    }

    100% {
        visibility: visible;
    }
}

/*  Information panel appear animation */

.game__info.hidden {
    visibility: hidden;
    opacity: 0;
    transition: all 1s linear;
}

.game__info.visible {
    visibility: visible;
    opacity: 1;
    transition: all 1s linear;
}

/* Token slide animation */

.game {
    animation: 1s ease-out 2s 1 slide forwards;
}

@keyframes slide {
    0% {
        width: 50vw;
    }

    100% {
        width: 71vw;
    }
}

/* Styles for token placeholder and winning token animation*/

.game__token--placeholder {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: black;
    opacity: 0.2;
    position: absolute;
    margin-top: 10px;
    z-index: -1;
    left: -15%;
    bottom: 10%;
}

.game__token--placeholder.won {
    background-color: grey;
    transform: scale(1);
    animation: pulse-black 2s infinite;
}

@keyframes pulse-black {
    0% {
        transform: scale(1.3);
        box-shadow: 0 0 0 0 rgba(100, 100, 100, 0.4);
    }

    60% {
        transform: scale(2);
        box-shadow: 0 0 0 10px rgba(100, 100, 100, 0.6);
    }

    100% {
        transform: scale(1.3);
        box-shadow: 0 0 0 0 rgba(100, 100, 100, 0.7);
    }
}


/* Change of token size for game panel */

.game .options__img {
    width: 100px;
}


.game .options__border {
    height: 200px;
    width: 200px;
    cursor: initial;
    box-shadow: inset 0 16px 5px #BBBCEE;
}

.game .options__border:after {
    top: -30px;
    left: -30px;
    right: -30px;
    bottom: -30px;
}

.game .options__border--paper:after {
    box-shadow: 0 10px #2C43B7;
}

.game .options__border--rock:after {
    box-shadow: 0 10px #9E1533;
}

.game .options__border--scissors:after {
    box-shadow: 0 10px #C76C1B;
}

@media (min-width: 1366px) {
    .game {
        animation: 1s ease-out 2s 1 slide forwards;
        width: 30vw;
    }

    @keyframes slide {
        0% {
            width: 30vw;
        }

        100% {
            width: 60vw;
        }
    }

    .game__title {
        left: 40%;
        top: 12%;
        transform: translate(-50%, 0);
        width: 300%;
    }
}

@media (min-width: 1600px) {
    .game {
        animation: 2s ease-out 2s 1 slide forwards;
    }

    .game__token {
        left: 43%;
    }

    .game__token--placeholder {
        left: -3%;
    }

    .game__token--player {
        margin-left: 20px;
    }

    .game__title--player {
        margin-left: 30px;
    }

    .game__token--placeholder.placeholder--player {
        left: 12%;
    }
}

@media (max-width: 800px) {
    .game {
        animation: none;
        width: 100vw;
        height: 60vh;
        top: 5vh;
        left: 50%;
        transform: translate(-50%, 0);
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .game .options__img {
        width: 50px;
    }

    .game .options__border {
        height: 100px;
        width: 100px;
        cursor: initial;
        box-shadow: inset 0 16px 5px #BBBCEE;
    }

    .game .options__border:after {
        top: -15px;
        left: -15px;
        right: -15px;
        bottom: -15px;
    }

    .game .options__border--paper:after {
        box-shadow: 0 5px #2C43B7;
    }

    .game .options__border--rock:after {
        box-shadow: 0 5px #9E1533;
    }

    .game .options__border--scissors:after {
        box-shadow: 0 5px #C76C1B;
    }

    .game__token--placeholder {
        width: 75px;
        height: 75px;
        border-radius: 50%;
        background-color: black;
        opacity: 0.2;
        position: absolute;
        margin-top: 10px;
        z-index: -1;
        left: 11%;
        bottom: 21%;
    }

    .game__title {
        left: 48%;
        bottom: 20vh;
        transform: translate(-50%, +190%);
        width: 150%;
        font-size: 15px;
        font-weight: 600;
        letter-spacing: 1.5px;
    }

    .game__title--player {
        left: 45%;
    }

    .game__pick {
        width: 30%;
        height: 80%;
        position: relative;
        color: white;
    }

    .game__info {
        margin-top: 15%;
    }

    .game__info--header {
        color: white;
        font-size: 50px;
    }

    .game__info--button {
        width: 180px;
        height: 40px;
        border: none;
        border-radius: 10px;
        color: #1A2748;
        cursor: pointer;
        font-size: 14px;
        letter-spacing: 2px;
        margin-top: 15px;
        box-shadow: 0 2px 4px rgb(26, 25, 25);
        transition: 0.2s;
    }

    .game__pick--player {
        order: 1;
        margin-left: 3%;
    }

    .game__pick--house {
        order: 2;
    }

    .game__info {
        order: 3;
    }

    .game__token {
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
    }
}

@media (width: 411px) {
    .game__token--placeholder {
        left: 26%;
        bottom: 25%;
    }

    .game__token--placeholder.placeholder--house {
        left: 9%;
    }

    .game__token--placeholder.placeholder--player {
        left: 11%;
    }
}

@media (width: 375px) {
    .game__token--placeholder {
        left: 10%;
        bottom: 22.5%;
    }

    .game__token--placeholder.placeholder--player {
        left: 10%;
    }
}

@media (width: 414px) {
    .game__token--placeholder {
        left: 26%;
        bottom: 25%;
    }

    .game__token--placeholder.placeholder--house {
        left: 9%;
    }

    .game__token--placeholder.placeholder--player {
        left: 11%;
    }
}

@media (width: 360px) {
    .game__token--placeholder.placeholder--player {
        left: 12%;
    }
}