.options {
    height: 350px;
    width: 500px;
    position: relative;
    top: 40vh;
    left: 50vw;
    transform: translate(-50%, 0);
    user-select: none;
}

.options__img--bg-triangle {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    z-index: -2;
}

.options__token--paper {
    top: -5%;
    left: 12%;
    position: absolute;
}

.options__token--rock {
    bottom: 46%;
    left: 38%;
    position: absolute;
}

.options__token--scissors {
    top: -5%;
    right: 36%;
    position: absolute;
}