.options__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.options__border {
    background-color: #fff;
    border-radius: 50%;
    height: 120px;
    width: 120px;
    position: absolute;
    cursor: pointer;
    box-shadow: inset 0 8px 5px #BBBCEE;
}

.options__border:after {
    content: '';
    position: absolute;
    top: -18px;
    left: -18px;
    right: -18px;
    bottom: -18px;
    border-radius: 50%;
    z-index: -1;
}

.options__border--paper:after {
    background: var(--paper-gradient);
    box-shadow: 0 6px #2C43B7;
}

.options__border--rock:after {
    background: var(--rock-gradient);
    box-shadow: 0 6px #9E1533;
}

.options__border--scissors:after {
    background: var(--scissors-gradient);
    box-shadow: 0 6px #C76C1B;
}